{
  "stage": 0,
  "blacklist": [
    "regenerator",
    "es6.forOf",
    "es6.templateLiterals",
    "es6.constants",
    "es6.properties.computed"
  ],
  "optional": [
    "bluebirdCoroutines"
  ]
}
